.next{
    padding: 0px;
    color: #000;
    margin-left: 15px;
    margin-top: inherit;
    cursor: pointer;
}

.prev{
    padding: 0px;
    color: #000;
    margin-top: inherit;
    margin-left: 15px;
    cursor: pointer;
}

.pageItem {
    padding: 10px;
    margin: 10px;
    color: #000;
}

.pageItemDots{
    padding: 10px;
    margin: 10px;
    color: #000;
    margin-top: 25px;
}

.pagination{
    display: inline-block;
}